a { cursor: pointer; }




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(13, 26, 61);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(219, 219, 219);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
}

.active {
    background-color: rgb(68, 71, 20);
    color: rgb(219, 219, 219);
    text-decoration: none;
}

li a:hover {
    background-color: rgb(169, 175, 84);
}



#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(76, 127, 175);
    color: white;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 16px 20px 0 rgba(0,0,0,0.4);
}

.container {
    padding: 2px 16px;
}




div.inline { float:left; }



.buyButton {
    width: 40%;
    position: absolute;
    bottom: 2px;
    left: 30%;
}

.buyButton:hover {
    background-color: rgb(76, 127, 175);
}

.center {
    margin: auto;
    width: 95%;
    padding: 10px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none !important;
    color: rgb(210, 210, 210) !important;
}

.footer {
    font-size: 10px;
    text-align: center;
    margin: 10px;
}

.clear-inline {
    margin-top: 950px;
}

.pagination {
    background-color: transparent;
}

.repo {
    position: absolute;
    right: 50px;
    top: 12px;
}